@model IEnumerable<CarRental.Models.ReservForm>
@using GridMvc.Html

<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.min.js"></script>
<br />

<br />
<div class="code-cut">
    @Html.Grid(Model).Columns(Columns => {
    Columns.Add(c => c.ID_Reserv).Titled("Id").Filterable(false);
    Columns.Add(c => c.DateBegin).Titled("Date begin").Filterable(true);
    Columns.Add(c => c.EndDate).Titled("End date").Filterable(true);
    Columns.Add(c => c.Status).Titled("Status").Filterable(true);
    Columns.Add(c => c.Cost).Titled("Cost").Filterable(true);
}).WithPaging(10).Sortable(true)
</div>

